@using AccentureAcademyFinal.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Listar";
}

@{
    BookStoreEntities db = new BookStoreEntities();
}

<h1 class="jumbotron">Listar</h1>

@using (Html.BeginForm())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Genero</th>
                <th>Author</th>
                <th>Editorial</th>
                <th><a href="~/Book/ListarCards">
                    <p class="glyphicon glyphicon-th-large"></p>
                        <p>Vista en tarjetas</p>
                    </a></th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Body de la tabla-->
            <tr>
                <td>
                    <input name="FilterTitle" type="text" class="form-control" />
                </td>
                <td>
                    <select class="form-control" name="FilterGenre">
                        <option>Seleccione un genero...</option>
                        @foreach (Genre genre in db.Genre.ToList())
                        {
                            <option value="@genre.Id">@genre.TypeGenre</option>
                        }
                    </select>
                </td>
                <td>
                    <input name="FilterAuthor" type="text" class="form-control" />
                </td>
                <td>
                    <input name="FilterPublisher" type="text" class="form-control" />
                </td>
                <td class="text-right">
                    <button class="glyphicon glyphicon-search btn btn-primary"></button>
                </td>
            </tr>
            @foreach (Book libro in this.Model)
            {

                <tr>
                    <td><h4>@libro.Title</h4></td>
                    <td>
                        @foreach (Genre genre in libro.Genre)
                        {
                            <div>@genre.TypeGenre</div>
                        }
                    </td>
                    <td>
                        @foreach (var item in libro.Author)
                        {
                            <div>@item.AuthorName</div>
                        }
                    </td>
                    <td>
                        @foreach (var item in libro.Publisher)
                        {
                            <div>@item.PublisherName</div>
                        }
                    </td>

                    <td class="text-right">
                        @Html.ActionLink("Editar", "Editar", new { Id = libro.Id })
                        @Html.ActionLink("Eliminar", "Eliminar", new { Id = libro.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>


}



