<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body style="padding:0px ; background-color:rgb(218, 201, 158)">
    <header class="navbar navbar-inverse" style="background-color:rgb(35, 35, 35);box-shadow: 0px 5px 5px 0.5px rgba(0,0,0,0.3)">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="~/Home/Index" class="navbar-brand">Accenture Academy</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Book/Listar">Catalogo</a></li>
                <li><a href="~/Book/Agregar">Agrega tu libro</a></li>
            </ul>
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; Accenture Academy | Todos los derechos reservados</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
